# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [3]:
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [5]:
pyber_data_df.to_sting(pyber_data_df["city"], errors='coerce').astype(str)
pyber_data_df.dtypes

AttributeError: 'DataFrame' object has no attribute 'to_sting'

In [14]:
pyber_data_str= pyber_data_df["city"].apply(str)
pyber_data_str

0       b'Lake Jonathanshire'
1       b'South Michelleport'
2       b'Port Samanthamouth'
3               b'Rodneyfort'
4               b'South Jack'
                ...
2370           b'Michaelberg'
2371       b'Lake Latoyabury'
2372           b'North Jaime'
2373          b'West Heather'
2374            b'Newtonview'
Name: city, Length: 2375, dtype: object

In [18]:
s1 = str(pyber_data_df["city"])
s1

"0       b'Lake Jonathanshire'\n1       b'South Michelleport'\n2       b'Port Samanthamouth'\n3               b'Rodneyfort'\n4               b'South Jack'\n                ...          \n2370           b'Michaelberg'\n2371       b'Lake Latoyabury'\n2372           b'North Jaime'\n2373          b'West Heather'\n2374            b'Newtonview'\nName: city, Length: 2375, dtype: object"

## Deliverable 1: Get a Summary DataFrame

In [14]:
#  1. Get the total rides for each city type

urban_cities_df = pyber_data_df[pyber_data_df["type"]=="Urban"]
urban_total_rides=urban_cities_df.count()["ride_id"]

suburban_cities_df = pyber_data_df[pyber_data_df["type"]=="Suburban"]
suburban_total_rides=suburban_cities_df.count()["ride_id"]

rural_cities_df = pyber_data_df[pyber_data_df["type"]=="Rural"]
rural_total_rides= rural_cities_df.count()["ride_id"]
#urban_cities_df.count()
#urban_total_rides = urban_cities_df.groupby(["type"]).count()["ride_id"]

#Suburban cities
# suburban_cities_df = pyber_data_df[pyber_data_df["type"]=="Suburban"]
# suburban_total_rides = suburban_cities_df.groupby(["type"]).count()["ride_id"]

#Rural Cities
# rural_cities_df = pyber_data_df[pyber_data_df["type"]=="Rural"]
# rural_total_rides = rural_cities_df.groupby(["type"]).count()["ride_id"]

total_rides = [{"Type": "Urban", "Ride Count": urban_total_rides,
                "Type": "Suburban", "Ride Count": suburban_total_rides,
                "Type": "Rural", "Ride Count": rural_total_rides}]
# rides_df = pd.DataFrame({"Ride Count": urban_total_rides,"SubRide Count": suburban_total_rides, "RuRide Count": rural_total_rides})
# rides_df
total_rides
#suburban_cities_df

[{'Type': 'Rural', 'Ride Count': 125}]

In [6]:
urban_driver_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_driver_count

city
Amandaburgh            18
Barajasview            22
Carriemouth            27
Christopherfurt        27
Deanville              19
                       ..
West Patrickchester    16
West Robert            31
West Samuelburgh       25
Williamsstad           23
Williamsview           20
Name: ride_id, Length: 66, dtype: int64

In [5]:
# 2. Get the total drivers for each city type
urban_driver_count = urban_cities_df.groupby(["city"]).sum()["driver_count"]
#suburban_driver_count = suburban_cities_df.groupby(["city"]).sum()["driver_count"]
#rural_driver_count = rural_cities_df.groupby(["city"]).sum()["driver_count"]
#rural_driver_count

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [8]:
#  3. Get the total amount of fares for each city type
urban_total_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
suburban_total_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
rural_total_fare = rural_cities_df.groupby(["city"]).sum()["fare"]
urban_total_fare

city
Amandaburgh            443.55
Barajasview            557.31
Carriemouth            764.49
Christopherfurt        661.55
Deanville              491.01
                        ...
West Patrickchester    451.73
West Robert            778.84
West Samuelburgh       544.19
Williamsstad           560.33
Williamsview           531.98
Name: fare, Length: 66, dtype: float64

In [13]:
#  4. Get the average fare per ride for each city type. 
# calculate the average fare per ride by city type by dividing the sum of all the fares by the total rides.
urban_avg_fare = urban_total_fare / urban_total_rides
#suburban_avg_fare = suburban_total_fare / suburban_total_rides
#rural_avg_fare = rural_total_fare / rural_total_rides
#avg_fare_type= pd.Dataframe()

In [ ]:
# 5. Get the average fare per driver for each city type. 
#calculate the average fare per driver by city type by dividing the sum of all the fares by the total drivers.
urban_avg_fare_driver = urban_total_fare / urban_driver_count
suburban_avg_fare_driver = suburban_total_fare / suburban_driver_count
rural_avg_fare_driver = rural_total_fare / rural_driver_count

In [14]:
#  6. Create a PyBer summary DataFrame. 
#pyber_summary_df = pd.Dataframe()
pyber_summary_df = pd.DataFrame(
       [{"Total Rides":total_rides 
        #  "Total Drivers" 
         # "Total Fares" 
        #  "Average Fare per Ride"
         # "Average Fare per Driver"
        }])
pyber_summary_df

                                         Total Rides
0  [{'Type': 'Urban', 'Ride Count': [type
Urban  ...

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')